*{
    box-sizing:border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f5f7f6;
}
header{
    text-align: center;
    padding: 40px 20px;
    background-color: #1f2937;
    color: white;
}
nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 15px;
    background-color: #111827;
}

@media (max-width: 600px) {
    nav {
        flex-wrap: wrap;
        gap: 15px;
    }

    #skills ul {
        justify-content: center;
    }
}
nav a{
    text-decoration:none;
    font-weight: bold;
    color: white;
}
main{
    margin:auto;
    max-width: 1000px;
    padding: 20px;
}
section{
    margin: 10px 0;
    padding: 25px;
    border:1px solid #ddd;
    border-radius: 8px;
}
#skills ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    list-style:none;
}
#skills li{
    padding: 10px 20px;
    border:2px solid #ddd;
    border-radius: 5px;
    transition:0.3s;
    background-color: #f9fafb;
    font-weight: bold;
}
#skills li:hover{
    transform:translateY(-5px);
}
#projects article{
    padding: 20px;
    border: 1px solid  #ddd;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    overflow-wrap: break-word;
}
#projects article:hover{
    transform: translateY(-5px);
}
#projects a{
    display: inline-block;
    margin-top: 15px;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    background-color: #1f2937;
    color: white;
    transition: 0.3s;
}
#projects a:hover{
    transform: translateY(-2px);
}
#contact a{
    text-decoration: none;
    font-weight: bold;
}
#contact a:hover{
    text-decoration: underline;
}
header a{
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: white;
    color: #1f2937;
    font-weight: bold;
    transition: 0.3s;
}
header a:hover{
    transform: translateY(-2px);
}
.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;

}
#projects article{
    overflow: break-word;
}
footer{
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ccc;
    background-color: #111827;
    color: white;
}
.tech-stack{
    font-style: italic;
    color: #555;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}
#about{
    background-color: white;
}
#education{
    background-color: white;
}
section h2{
    margin-bottom: 20px;
    margin-top: 0;
}
#contact{
    background-color: white;
}
#contact p{
    margin: 10px 0;
    font-weight: bold;
}
